<h1>CalendarEvents#index</h1>
<p>Find me in app/views/calendar_events/index.html.erb</p>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bricklayer/0.4.3/bricklayer.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/bricklayer/0.4.3/bricklayer.min.js"></script>

<div class="bricklayer">
<% @calendar_events_by_date.each do |date, calendar_events| %>

  <div class="card date bg-primary text-white text-center p-3" data-date="<%= date %>" onclick="select_date(this)">
    <blockquote class="blockquote mb-0">
      <h1><%= date %></h1>
    </blockquote>
  </div>

  <% calendar_events.each do |calendar_event| %>
    <div class="card event" data-date="<%= date %>">
      <% if !calendar_event.pics.empty? %>
        <img class="card-img-top" src="<%= calendar_event.pics.first %>" alt="<%= calendar_event.title %>">
      <% end %>
      <div class="card-body">
        <p class="card-text"><span class="badge badge-primary"><%= calendar_event.date_time.to_s(:datehuman_long) %></span></p>
        <h5 class="card-title"><%= calendar_event.title %></h5>
        <p class="card-text"><%= calendar_event.info.join.truncate(140) %></p>
        <p class="card-text">
          <%= render_label(calendar_event.venue.name, :tags) %>
          <%= render_labels(calendar_event.tags, :tags) %>
        </p>
      </div>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="<%= calendar_event.url %>" class="card-link">Info</a>
      </div>
    </div>
  <% end %>
<% end %>

<script>
  var bricklayer = new Bricklayer(document.querySelector('.bricklayer'))

  function select_date(element){
    var date = $(element).attr("data-date");
    var is_already_active = $(element).hasClass("selected");

    console.log("is_already_active", is_already_active);
    console.log("date", date);

    $(".card.event").removeClass("bg-light disabled");
    $(".card").removeClass("bg-warning selected");

    if(!is_already_active) {
      $(".card.event[data-date!='" + date + "']").addClass("bg-light disabled");
      $(".card[data-date='" + date + "']").addClass("bg-warning selected");
    }
  }
</script>

<style>
  .card {
    margin-bottom: 5px;
  }

  .card.disabled {
    filter: blur(8px) grayscale(50%) opacity(.5);
  }
</style>
